@import "../../shared/styles/variables";

.featured {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  padding-bottom: 10px;
  justify-content: center;
  @media (min-width: $screen-md-min) {
    justify-content: flex-start;
  }
}
