@import "../../shared/styles/variables";

.header {
  &__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $dark-grey;
    overflow: hidden;
    display: flex;
    li {
      a {
        display: block;
        padding: 16px;
        color: $white;
        text-decoration: none;
        &:hover {
          background-color: $black;
        }
      }
    }
    &--active {
      font-weight: bold;
      background-color: $black;
    }
  }
}
