@import "../../shared/styles/variables";

.movie-detail {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width: $screen-md-min) {
        flex-direction: row;
    }
  }
  &__img {
    width: 100%;
    @media (min-width: $screen-md-min) {
       width: auto;
    }
  }
}


