.movie-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  img {
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 80%;
    flex-grow: 1;
  }
}
