@import "../shared/styles/variables";

.search {
  margin: 10px;
  width: calc(100% - 20px);
  &__wrapper {
    display: flex;
    align-items: center;
    &-bar {
      flex: 1;
    }
    &-filter {
      margin-left: 10px;
    }
  }
  &__results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    @media (min-width: $screen-md-min) {
      justify-content: flex-start;
    }
  }
}
